.modal {
    position:fixed;
    background: lightgrey;
    width: 30vw;
    border: 1px solid;
    border-radius: 17px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.modal-main{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.modal .close{
    position: sticky;
    left: 78%;
    bottom: 43%;
    content: \00d7;
    border: none;
    opacity: 0.2;
    font-weight: bold;
}