@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  margin: 22px;
  margin-top: 0px;


}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
background-color: #3432ff;
border-radius: 6px;

  color: #444;
  cursor: pointer;
  /* padding: 7px; */
  display: flex;
  align-items: left;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
background-color: #3432ff;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  padding-left:3%;
}
.accordion__img{
  height: 38px;
  width: 38px;
  margin-top: 4px;
  border: 1px solid white;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
  margin-top: 1%;

}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items:flex-start;
  padding: 18px;
}