.loginForm {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.headers {
    text-align: center;
}
.forms {
    text-align: center;
}
/* .w-18{
    width:18%;
} */
.login:hover {
    background-color: #3432ff;
    color:white;
}
input, .login {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input:focus {
    border: 3px solid #555;
}
.labelName {
    float: left;
}
.heading{
    font-size: xx-large;
    height: 5vh;
}
